<template>
  <header class="w-full flex flex-row">
    <h2 class="text-xl flex flex-row">App State Football 2021</h2>
  </header>
</template>


<style scoped>
  .w-full {
    text-align: center;
    background-color: black;
    margin-top: -20px;
    padding-bottom: 20px;
    margin-left: -10px;
    margin-right: -20px;
  }
  .text-xl {
    color: goldenrod;
  }
</style>